In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [2]:
s.str.lower()

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [3]:
s.str.upper()

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [4]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [5]:
index = pd.Index(['  tang','  yu   ','di'])
index

Index(['  tang', '  yu   ', 'di'], dtype='object')

In [6]:
index.str.strip()

Index(['tang', 'yu', 'di'], dtype='object')

In [7]:
index.str.lstrip()

Index(['tang', 'yu   ', 'di'], dtype='object')

In [8]:
index.str.rstrip()

Index(['  tang', '  yu', 'di'], dtype='object')

In [9]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0 -0.947952  1.721959
1  1.568445 -0.526080
2  1.235744 -0.900230

In [10]:
df.columns = df.columns.str.replace(' ','_')

In [11]:
df

        A_a       B_b
0 -0.947952  1.721959
1  1.568445 -0.526080
2  1.235744 -0.900230

In [12]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [13]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [14]:
s.str.split('_',expand = True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [15]:
s.str.split('_',expand = True,n=1)

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [16]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])

In [17]:
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [18]:
s.str.contains('Ag')

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [19]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [20]:
s.str.get_dummies(sep = '|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1